input[type="submit"] {
  cursor: pointer;
  background-color: $orange-500;
  border-radius: $radius-12;
  padding: $spacing-200 $spacing-300;
  border: none;
  transition: 0.4s ease-out;
  color: $neutral-900;
  font-family: Inconsolata-ExtraBold, sans-serif;
  font-size: $font-size-20;
  letter-spacing: $letter-spacing-minus-0-3;

  &:hover {
    background: $orange-700;
    box-shadow: 0px 4px 0px 0px $orange-500;
  }
  &:focus {
    box-shadow: 0px 0px 0px 3px $neutral-900, 0px 0px 0px 4px $neutral-0;
  }
}

.img-controls-btns {
  display: flex;
  gap: $spacing-100;
  &.hidden {
    display: none;
  }
}

.img-control-btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: $spacing-050 $spacing-100;
  border-radius: $radius-4;
  background: rgba(255, 255, 255, 0.10);
  font-family: Inconsolata-Regular;
  font-size: $font-size-12;
  line-height: $line-height-120;
  letter-spacing: $letter-spacing-minus-0-2;
}

.remove-img {
  color: $neutral-300;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.change-img {
  color: $neutral-0;
}