form {
  max-width: 460px;
  width: 100%;
  display: grid;
  gap: $spacing-300;
  margin-bottom: 134px;

  @media(max-width: 768px) {
    max-width: 522px;
  }
  @media(max-width: 375px) {
    max-width: 343px;
    margin-bottom: 114px;
  }

}

label {
  display: flex;
  flex-direction: column;
}

