main {
  display: grid;
  place-items: center;
  margin: 0 16px;
  min-height: 100vh;
  height: 100%;
}

section {
  display: grid;
  place-items: center;
}

.hint-img {
  width: 16px;
  height: 16px;
}

.ticket-generator.hidden {
  display: none;
}

.ticket-generated.hidden {
  display: none;
}