// Color Palette
$neutral-900: #0D082D;
$neutral-700: #4B4869;
$neutral-500: #8784A5;
$neutral-300: #D1D0D5;
$neutral-0: #FFFFFF;

$orange-700: #E1604F;
$orange-500: #F57463;

$gradient-01: linear-gradient(90deg, #F37362 0%, #FFF 100%);

// Font Settings
$font-family-primary: 'Inconsolata', sans-serif;

$font-size-60: 60px; // ExtraBold
$font-size-40: 40px; // Bold
$font-size-24: 24px; // Bold
$font-size-22: 22px; // Bold (mobile)
$font-size-20: 20px; // Medium
$font-size-18: 18px; // Medium
$font-size-14: 14px; // Regular
$font-size-12: 12px; // Regular (mobile)

$line-height-110: 110%;
$line-height-120: 120%;

$letter-spacing-minus-1: -1px;
$letter-spacing-minus-0-5: -0.5px;
$letter-spacing-minus-0-2: -0.2px;
$letter-spacing-minus-0-3: -0.3px;
$letter-spacing-0: 0;

// Spacing
$spacing-0: 0;
$spacing-025: 2px;
$spacing-050: 4px;
$spacing-075: 6px;
$spacing-100: 8px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-250: 20px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-1000: 80px;

// Border Radius
$radius-0: 0;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-full: 999px;
