@import '~normalize.css';
@import './abstracts/fonts';
@import './abstracts/variables';
@import './components/input';
@import './components/button';
@import './components/background';
@import './components/typography';
@import './components/forms';

input[type="file"] {
  display: none;
}

main {
  display: grid;
  place-items: center;

}